<a href="https://colab.research.google.com/github/SriSatyaLokesh/some-app-for-whatsapp/blob/master/notebooks/analytics/Cleaning_Whatsapp_chat_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving WhatsApp Chat with CSE 2K16-2K20.txt to WhatsApp Chat with CSE 2K16-2K20.txt

In [8]:
import pandas as pd
from itertools import chain, repeat
import re

chainer = chain.from_iterable
class Cleaner:
  def __init__(self,filename):
    self.filename = filename

  def _clean_data(self):
    chat_file = self.filename
    with open(chat_file) as file:
      all_msgs = file.readlines()
      raw_texts = []
      for line in all_msgs:
        if re.match("^\d{2}/\d{2}/\d{2,4},\s\d{1,2}:\d{2}\s[ap][m]",line):
          # print(line)
          date_split = line.split(' - ') #date and user
          user_split = date_split[1].split(':')
          if len(user_split) >= 2:
            raw_texts.append(line)
        else:
          try:
            raw_texts[-1] += line
          except Exception as err:
            # print(line,raw_texts)
            # print(err)
            pass

    return raw_texts 
      
  def _get_data(self):
    raw_texts = self._clean_data()
    raw_messages = dict()
    for line in raw_texts:
      date_split = line.split(' - ')
      user_split = date_split[1].split(':')
      user = user_split[0]
      if user not in raw_messages:
        raw_messages[user] = [line]
      else:
        raw_messages[user].append(line)

    df = pd.DataFrame({'user': list(chainer(repeat(k, len(v)) for k,v in raw_messages.items())),
                   'raw_text': list(chainer(raw_messages.values()))}) 
    return df

chat_file = "WhatsApp Chat with CSE 2K16-2K20.txt"
clean = Cleaner(chat_file)
df = clean._get_data()
df

                user                                           raw_text
0    +91 81432 75536  12/10/2019, 11:21 am - +91 81432 75536: Remain...
1    +91 81432 75536  25/10/2019, 3:30 pm - +91 81432 75536: <Media ...
2    +91 81432 75536  25/10/2019, 3:30 pm - +91 81432 75536: <Media ...
3    +91 81432 75536  25/10/2019, 3:33 pm - +91 81432 75536: Dear st...
4    +91 81432 75536  25/10/2019, 3:38 pm - +91 81432 75536: The sho...
..               ...                                                ...
331     Karthik@cseB  10/04/2020, 10:27 am - Karthik@cseB: A popular...
332     Karthik@cseB  10/04/2020, 10:27 am - Karthik@cseB: Register ...
333     Karthik@cseB  10/04/2020, 10:31 am - Karthik@cseB: https://w...
334     Karthik@cseB  10/04/2020, 10:31 am - Karthik@cseB: People in...
335  +91 89786 62563  15/04/2020, 9:57 am - +91 89786 62563: Sir the...

[336 rows x 2 columns]

In [0]:
df[df['user'] == "Vasavi"]

       user                                        raw_message
535  Vasavi  19/09/19, 11:16 am - Vasavi: You deleted this ...
536  Vasavi  19/09/19, 11:16 am - Vasavi: You deleted this ...
537  Vasavi  19/09/19, 11:19 am - Vasavi: Sorry sir\nIts aa...

In [4]:
def get_message(row"):
  user_split = row["user"] + ": " #row.user or row["user"]
  try: 
    return row["raw_message"].split(user_split)[-1]
  except:
    print(row)

df["clean_message"] = df.apply(lambda: row clean_message(row), axis=1)

SyntaxError: ignored

In [0]:
for i in raw_msgs_df.index:
  temp = raw_msgs_df.at[i,'raw_message']
  message = temp.split(':')
  message = "".join(message[1:])
  raw_msgs_df.at[i,'raw_message'] = message

In [9]:
df["raw_message"] = df.apply(lambda df : "".join(df['raw_text'].split(":")[2:]),axis=1)
df

                user  ...                                        raw_message
0    +91 81432 75536  ...                                        Remainder\n
1    +91 81432 75536  ...                                  <Media omitted>\n
2    +91 81432 75536  ...                                  <Media omitted>\n
3    +91 81432 75536  ...   Dear students these are shortlisted candidate...
4    +91 81432 75536  ...   The shortlisted students for Hitachi consulti...
..               ...  ...                                                ...
331     Karthik@cseB  ...                        A popular course giveaway\n
332     Karthik@cseB  ...                     Register as soon as possible\n
333     Karthik@cseB  ...   https//www.udemy.com/course/r-programming/?ra...
334     Karthik@cseB  ...                           People interested in R\n
335  +91 89786 62563  ...                      Sir the link is not working\n

[336 rows x 3 columns]

In [0]:
mask1 = df['user'] == "IDIOT😎"
mask2 = df['clean_message'] == " <Media omitted>\n"
df[mask2]

                user  ...       clean_message
1    +91 73311 74849  ...   <Media omitted>\n
34   +91 98667 58870  ...   <Media omitted>\n
36   +91 98667 58870  ...   <Media omitted>\n
74   +91 98667 58870  ...   <Media omitted>\n
76   +91 98667 58870  ...   <Media omitted>\n
..               ...  ...                 ...
590  +91 70758 07774  ...   <Media omitted>\n
595  +91 99126 48686  ...   <Media omitted>\n
598  +91 99126 48686  ...   <Media omitted>\n
622  +91 99126 48686  ...   <Media omitted>\n
623  +91 99126 48686  ...   <Media omitted>\n

[127 rows x 3 columns]

In [0]:
from string import digits
remove_digits = str.maketrans('', '', digits)
df["text_only_message"] = df.apply(lambda df : df["raw_message"].encode('ascii', 'ignore').decode('ascii'),axis=1)
df["text_only_message"] = df.apply(lambda df : df["text_only_message"].translate(remove_digits),axis=1)

In [11]:
df

                user  ...                                  text_only_message
0    +91 81432 75536  ...                                        Remainder\n
1    +91 81432 75536  ...                                  <Media omitted>\n
2    +91 81432 75536  ...                                  <Media omitted>\n
3    +91 81432 75536  ...   Dear students these are shortlisted candidate...
4    +91 81432 75536  ...   The shortlisted students for Hitachi consulti...
..               ...  ...                                                ...
331     Karthik@cseB  ...                        A popular course giveaway\n
332     Karthik@cseB  ...                     Register as soon as possible\n
333     Karthik@cseB  ...   https//www.udemy.com/course/r-programming/?ra...
334     Karthik@cseB  ...                           People interested in R\n
335  +91 89786 62563  ...                      Sir the link is not working\n

[336 rows x 4 columns]

In [0]:
df[df['user'] == '+91 85009 40612']   # example for removing emoji s from clean_message

                user  ... text_only_message
402  +91 85009 40612  ...                \n

[1 rows x 4 columns]

In [0]:
df[df['user'] == "IDIOT😎"]    # example for removing numbers from clean_message

       user  ...                                  text_only_message
314  IDIOT😎  ...                                  <Media omitted>\n
315  IDIOT😎  ...                   TCS Code Vita  All India ranks\n
316  IDIOT😎  ...                                              sir\n
317  IDIOT😎  ...                                              sir\n
318  IDIOT😎  ...                              Sri Satya Lokesh\nA\n
319  IDIOT😎  ...   https//www.infosys.com/infosys-foundation/aar...
320  IDIOT😎  ...   https//www.hackerearth.com/challenges/hiring/...
321  IDIOT😎  ...   Participate in this exciting machine learning...
322  IDIOT😎  ...                                  <Media omitted>\n
323  IDIOT😎  ...   Replace Plastic Ideathon - Hyderabad edition ...
324  IDIOT😎  ...                                  <Media omitted>\n
325  IDIOT😎  ...   Guys anybody having their Wipro interview sch...
326  IDIOT😎  ...   Found an article you may be interested in htt...
327  IDIOT😎  ...   Amazon Opening for Freshers/Students Post Sof...
328  IDIOT😎  ...   *Synopsys Inc Mumbai* is Hiring for the below...
329  IDIOT😎  ...                 http//womenoftheworld.mettl.com/\n
330  IDIOT😎  ...   *| Newton School Coding Challenge | Sunday th...
331  IDIOT😎  ...                                  <Media omitted>\n
332  IDIOT😎  ...   *Amazon intern and full time SDE hiring*\n\n*...

[19 rows x 4 columns]

In [12]:
df.loc[(df['text_only_message'] == " This message was deleted\n") | (df['text_only_message'] == " \n"),'text_only_message'] = ""
df

                user  ...                                  text_only_message
0    +91 81432 75536  ...                                        Remainder\n
1    +91 81432 75536  ...                                  <Media omitted>\n
2    +91 81432 75536  ...                                  <Media omitted>\n
3    +91 81432 75536  ...   Dear students these are shortlisted candidate...
4    +91 81432 75536  ...   The shortlisted students for Hitachi consulti...
..               ...  ...                                                ...
331     Karthik@cseB  ...                        A popular course giveaway\n
332     Karthik@cseB  ...                     Register as soon as possible\n
333     Karthik@cseB  ...   https//www.udemy.com/course/r-programming/?ra...
334     Karthik@cseB  ...                           People interested in R\n
335  +91 89786 62563  ...                      Sir the link is not working\n

[336 rows x 4 columns]

In [0]:
df[df['user'] == '+91 85009 40612']

                user  ... text_only_message
402  +91 85009 40612  ...

[1 rows x 4 columns]

In [0]:
mask1 = df['user'] == "IDIOT😎"
mask2 = df['clean_message'] == " <Media omitted>\n"
df[mask1 & mask2]

       user  ...   text_only_message
314  IDIOT😎  ...   <Media omitted>\n
322  IDIOT😎  ...   <Media omitted>\n
324  IDIOT😎  ...   <Media omitted>\n
331  IDIOT😎  ...   <Media omitted>\n

[4 rows x 4 columns]

[check this](https://stackoverflow.com/questions/55742928/pandas-check-which-substring-is-in-column-of-strings/55743174)

In [0]:
group_by_users = df.groupby('user')

In [0]:
group_by_users.get_group('IDIOT😎')

In [0]:
group_by_users.count()

                  raw_message  clean_message  text_only_message
user
+91 6301 540 782            1              1                  1
+91 6301 575 514            2              2                  2
+91 70321 59859             1              1                  1
+91 70360 37933             2              2                  2
+91 70362 32555             3              3                  3
...                       ...            ...                ...
Niha                        1              1                  1
Pavan                       2              2                  2
Varma Sir_PAT             213            213                213
Vasavi                      3              3                  3
Venkat_v                    1              1                  1

[111 rows x 3 columns]

In [0]:
indices_to_remove = list(df.loc[df.clean_message.str.contains('|'.join(['<', '>'])),'clean_message'].index)

In [13]:
sub_df = df.groupby('user').filter(lambda x : len(x) > 10)
sub_df

                user  ...                                  text_only_message
0    +91 81432 75536  ...                                        Remainder\n
1    +91 81432 75536  ...                                  <Media omitted>\n
2    +91 81432 75536  ...                                  <Media omitted>\n
3    +91 81432 75536  ...   Dear students these are shortlisted candidate...
4    +91 81432 75536  ...   The shortlisted students for Hitachi consulti...
..               ...  ...                                                ...
318  +91 99126 48686  ...                               Guys last  minutes\n
319  +91 99126 48686  ...                                 Exam will closes\n
320  +91 99126 48686  ...                                  <Media omitted>\n
321  +91 99126 48686  ...                                  <Media omitted>\n
322  +91 99126 48686  ...   assignment marks those who submitted through ...

[229 rows x 4 columns]

In [0]:
sub_df[sub_df['user'] == "Vasavi"]

Empty DataFrame
Columns: [user, raw_message, clean_message, text_only_message]
Index: []

In [0]:
sub_df[sub_df['user'] == "IDIOT😎"]

       user  ...                                  text_only_message
314  IDIOT😎  ...                                  <Media omitted>\n
315  IDIOT😎  ...                   TCS Code Vita  All India ranks\n
316  IDIOT😎  ...                                              sir\n
317  IDIOT😎  ...                                              sir\n
318  IDIOT😎  ...                              Sri Satya Lokesh\nA\n
319  IDIOT😎  ...   https//www.infosys.com/infosys-foundation/aar...
320  IDIOT😎  ...   https//www.hackerearth.com/challenges/hiring/...
321  IDIOT😎  ...   Participate in this exciting machine learning...
322  IDIOT😎  ...                                  <Media omitted>\n
323  IDIOT😎  ...   Replace Plastic Ideathon - Hyderabad edition ...
324  IDIOT😎  ...                                  <Media omitted>\n
325  IDIOT😎  ...   Guys anybody having their Wipro interview sch...
326  IDIOT😎  ...   Found an article you may be interested in htt...
327  IDIOT😎  ...   Amazon Opening for Freshers/Students Post Sof...
328  IDIOT😎  ...   *Synopsys Inc Mumbai* is Hiring for the below...
329  IDIOT😎  ...                 http//womenoftheworld.mettl.com/\n
330  IDIOT😎  ...   *| Newton School Coding Challenge | Sunday th...
331  IDIOT😎  ...                                  <Media omitted>\n
332  IDIOT😎  ...   *Amazon intern and full time SDE hiring*\n\n*...

[19 rows x 4 columns]

In [14]:
media_counts = sub_df[sub_df['raw_message'] == " <Media omitted>\n"].groupby('user').size()
media_counts

user
+91 81432 75536     48
+91 99126 48686      4
+91 99789 67155      4
Kulkarni Sir@CSE     9
dtype: int64

In [0]:
user_media_counts = media_counts.to_dict()
user_media_counts

{'+91 97044 13836': 13,
 '+91 98667 58870': 11,
 '+91 99126 48686': 4,
 '+91 99789 67155': 10,
 'Hemanth_VMEG': 5,
 'IDIOT😎': 4,
 'Varma Sir_PAT': 73}

In [0]:
for user,msgs in group_by_users:
  print(user)
  print(msgs)

In [0]:
for name in messages.keys():
    df = df.append(pd.DataFrame({'raw_text': messages[name], 'user': name}))

Which is efficient this or chainer?

In [18]:
df['Date'] = df.apply(lambda row: row['raw_text'].split(' - ')[0], axis = 1)
df['Date'] = pd.to_datetime(df['Date'], format="%d/%m/%Y, %I:%M %p")
df['Hour'] = df.apply(lambda row: row.Date.hour, axis = 1)
df['Day_of_Week'] = df.apply(lambda row: row.Date.dayofweek, axis = 1)
df

                user  ... Day_of_Week
0    +91 81432 75536  ...           5
1    +91 81432 75536  ...           4
2    +91 81432 75536  ...           4
3    +91 81432 75536  ...           4
4    +91 81432 75536  ...           4
..               ...  ...         ...
331     Karthik@cseB  ...           4
332     Karthik@cseB  ...           4
333     Karthik@cseB  ...           4
334     Karthik@cseB  ...           4
335  +91 89786 62563  ...           2

[336 rows x 7 columns]

In [0]:
_message